// Appderma Set up Ionic Child

// components
@import "partials/variables";
@import "partials/woocommerce";
@import "partials/conditional-form";
@import "partials/types";
@import "partials/appderma";
