/* line 4, sass/partials/_woocommerce.scss */
body.woocommerce main.site-main {
  text-align: center;
}
/* line 7, sass/partials/_woocommerce.scss */
body.woocommerce nav.woocommerce-breadcrumb {
  border: 0;
  margin: 0;
  padding: 0;
  height: 10px;
}
/* line 13, sass/partials/_woocommerce.scss */
body.woocommerce h1.page-title {
  color: #8c9954;
  font-size: 2em;
}
/* line 17, sass/partials/_woocommerce.scss */
body.woocommerce p.woocommerce-result-count {
  display: none;
}
/* line 20, sass/partials/_woocommerce.scss */
body.woocommerce .page-description {
  padding-top: 25px;
  text-align: center;
}
/* line 23, sass/partials/_woocommerce.scss */
body.woocommerce .page-description h1 {
  color: #8c9954 !important;
  padding-bottom: 0;
}
/* line 29, sass/partials/_woocommerce.scss */
body.woocommerce .woocommerce-ordering select {
  position: inherit;
  background: transparent;
  color: #504e4e;
  padding-bottom: 5px;
  border-bottom: solid 1px #a1a1a1;
}
/* line 38, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product {
  border: 0 !important;
}
/* line 41, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product a {
  text-align: center;
}
/* line 44, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product a img {
  box-shadow: 0 0 3px 0px #a1a1a1;
  border: solid 1px rgba(161, 161, 161, 0.32);
  border-bottom: solid 10px #8c9954;
}
/* line 50, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product a.btn {
  background-color: #8c9954;
  color: white;
  font-weight: 400;
  margin-top: 0;
  box-shadow: 0 0 3px 0px #a1a1a1;
  letter-spacing: normal;
  padding: 0 1rem;
}
/* line 59, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product .product-meta-wrap {
  text-align: center !important;
}
/* line 61, sass/partials/_woocommerce.scss */
body.woocommerce ul.products li.product .product-meta-wrap h3 {
  font-size: 1rem !important;
}

/* line 69, sass/partials/_woocommerce.scss */
a.cart-contents {
  text-align: right;
  padding-right: 0;
  margin-top: 5px;
}

/* line 74, sass/partials/_woocommerce.scss */
.cart-contents:before {
  font-family: Ionicons;
  content: "\f370";
  font-size: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  padding-right: 0;
  vertical-align: bottom;
  color: #504e4e;
}

/* line 85, sass/partials/_woocommerce.scss */
.cart-contents:hover {
  text-decoration: none;
}

/* line 88, sass/partials/_woocommerce.scss */
.cart-contents-count {
  color: #fff;
  background-color: #2ecc71;
  font-weight: bold;
  border-radius: 10px;
  padding: 1px 6px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
}

/* line 5, sass/partials/_conditional-form.scss */
article .entry-content h3 {
  color: #8c9954 !important;
  text-align: center;
}
/* line 9, sass/partials/_conditional-form.scss */
article .entry-content p {
  color: #a1a1a1;
  text-align: center;
}
/* line 13, sass/partials/_conditional-form.scss */
article .entry-content img.step-one-active {
  max-width: 60% !important;
  margin: 0 auto;
}
/* line 17, sass/partials/_conditional-form.scss */
article .entry-content .col {
  text-align: center;
}
/* line 19, sass/partials/_conditional-form.scss */
article .entry-content .col a.button-default {
  background-color: #8c9954;
  box-shadow: 0 0 3px 0px #a1a1a1;
  color: white;
  letter-spacing: 1px;
  width: 100%;
}

/* line 2, sass/partials/_appderma.scss */
p, a, li, select {
  font-family: "Raleway", sans-serif;
}

/* line 3, sass/partials/_appderma.scss */
p {
  font-size: 1rem;
}

/* line 4, sass/partials/_appderma.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/* line 5, sass/partials/_appderma.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 6, sass/partials/_appderma.scss */
h1 {
  font-size: 2rem;
}

/* line 7, sass/partials/_appderma.scss */
h2 {
  font-size: 1.6rem;
}

/* line 8, sass/partials/_appderma.scss */
h3 {
  font-size: 1.5rem;
}

/* line 9, sass/partials/_appderma.scss */
h4 {
  font-size: 1.4rem;
}

/* line 10, sass/partials/_appderma.scss */
h5 {
  font-size: 1.3rem;
}

/* line 11, sass/partials/_appderma.scss */
h6 {
  font-size: 1.2rem;
}

/* line 15, sass/partials/_appderma.scss */
header.bar.bar-header {
  background: transparent;
  border-top: solid 1px #504e4e;
  border-bottom: solid 1px #504e4e;
}
/* line 20, sass/partials/_appderma.scss */
header.bar.bar-header .button-back-button i.icon.ion-ios-arrow-back {
  color: #504e4e !important;
}
/* line 24, sass/partials/_appderma.scss */
header.bar.bar-header img.logo-responsive {
  max-width: 220px;
  margin-right: 15px;
}

/* line 30, sass/partials/_appderma.scss */
button#nav-left-open::before {
  color: #504e4e;
}

/* line 36, sass/partials/_appderma.scss */
h1.page-title {
  display: none;
}

/* line 43, sass/partials/_appderma.scss */
.home-nav .col {
  text-align: center;
}
/* line 46, sass/partials/_appderma.scss */
.home-nav a {
  color: #a1a1a1;
}
/* line 48, sass/partials/_appderma.scss */
.home-nav a span {
  margin-top: 5px;
  margin-bottom: 25px;
  display: block;
}
/* line 54, sass/partials/_appderma.scss */
.home-nav .nav-ico {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background-image: url("../img/home-nav-sprite.png");
  text-indent: -9999px;
}
/* line 63, sass/partials/_appderma.scss */
.home-nav .ico2 {
  background-position: -55px;
}
/* line 64, sass/partials/_appderma.scss */
.home-nav .ico3 {
  background-position: -110px;
}
/* line 65, sass/partials/_appderma.scss */
.home-nav .ico4 {
  background-position: -165px;
}
/* line 66, sass/partials/_appderma.scss */
.home-nav .ico5 {
  background-position: -220px;
}
/* line 67, sass/partials/_appderma.scss */
.home-nav .ico6 {
  background-position: -275px;
}

/* line 72, sass/partials/_appderma.scss */
section.swiper-container {
  box-shadow: 0 0 3px 0px #a1a1a1;
  margin-bottom: 25px;
}

/* line 81, sass/partials/_appderma.scss */
#footer-menu ul.tabs li {
  width: 33%;
  padding-top: 5px !important;
}
