// Common
p, a, li, select { font-family: $primary-font; }
p { font-size: 1rem;}
h1, h2, h3, h4, h5, h6 { font-family: $primary-font; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 2rem;}
h2 { font-size: 1.6rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1.4rem;}
h5 { font-size: 1.3rem;}
h6 { font-size: 1.2rem; }

// Header

header.bar.bar-header {
    background: transparent;
    border-top: solid 1px $color-darkgray;
    border-bottom: solid 1px $color-darkgray;
    .button-back-button {
      i.icon.ion-ios-arrow-back {
        color: $color-darkgray !important;
      }
    }

}
button#nav-left-open::before {
   color: $color-darkgray;
}

// Logo
  .logo-header {
    width: 220px !important;
    text-align: center;
    img {
      width: 50% !important;
    }
  }

// Page title

h1.page-title {
    display: none;
}

// Home Mobile Navigation

.home-nav {
  .col {
    text-align: center;
  }
  a {
    color:#a1a1a1;
    text-decoration: none;
    font-family: $primary-font;
    span {
        margin-top: 5px;
        margin-bottom: 25px;
        display: block;
      }
    }
  .nav-ico {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-image: url('../img/home-nav-sprite.png');
    text-indent: -9999px;
  }
  .ico1 {}
  .ico2 { background-position: -55px; }
  .ico3 { background-position: -110px; }
  .ico4 { background-position: -165px;}
  .ico5 { background-position: -220px;}
  .ico6 { background-position: -275px;}
}

// Slider

section.swiper-container {
  box-shadow: 0 0 3px 0px $color-lightgray;
  margin-bottom: 25px;
}

// Footer Navigation

#footer-menu {

  ul.tabs {
    background-color: transparent !important;
    padding: 0;
    li {
      width: 34%;
      padding-top: 5px !important;
      margin: 0 !important;
      a{
        i.icon { color: rgba(255, 255, 255, 0.75) !important; }
      }
    }
    .menu-item-46 {
      background: $primary-color !important;
    }
    .menu-item-47 {
      background: #acbc69 !important;
    }
    .menu-item-50 {
      background: #c5d776 !important;
    }
  }

}
