// Comon
p, a { font-family: $primary-font; }
p { font-size: 1rem;}
h1, h2, h3, h4, h5, h6 { font-family: $primary-font; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 2rem;}
h2 { font-size: 1.6rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1.4rem;}
h5 { font-size: 1.3rem;}
h6 { font-size: 1.2rem; }

// Header

header.bar.bar-header {
    background: transparent;
    border-top: solid 1px $color-darkgray;
    border-bottom: solid 1px $color-darkgray;

}
button#nav-left-open::before {
   color: $color-darkgray;
}

// Home Mobile Navigation

.home-nav {
  .col {
    text-align: center;
  }
  a {
    color:#a1a1a1;
    span {
        margin-top: 5px;
        margin-bottom: 25px;
        display: block;
      }
    }
  .nav-ico {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-image: url('../img/home-nav-sprite.png');
    text-indent: -9999px;
  }
  .ico1 {}
  .ico2 { background-position: -55px; }
  .ico3 { background-position: -110px; }
  .ico4 { background-position: -165px;}
  .ico5 { background-position: -220px;}
  .ico6 { background-position: -275px;}
}

// Footer Navigation

.menu-footer-nav-container {
  ul.tabs {
    li {
      width: 33%;
      padding-top: 5px !important;
    }
  }

}
