// Common
p, a, li, select { font-family: $primary-font; }
p { font-size: 1rem;}
h1, h2, h3, h4, h5, h6 { font-family: $primary-font; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 2rem;}
h2 { font-size: 1.6rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1.4rem;}
h5 { font-size: 1.3rem;}
h6 { font-size: 1.2rem; }


label {
    text-align: left !important;
}

// Header

header.bar.bar-header {
    background: transparent;
    border-top: solid 1px $color-darkgray;
    border-bottom: solid 1px $color-darkgray;
    .button-back-button {
      i.icon.ion-ios-arrow-back {
        color: $color-darkgray !important;
      }
    }
    .cart-icon {
      position: absolute;
      right: 20px;
  }
}
button#nav-left-open {
  &:before {
   color: $color-darkgray;
  }
}

// Logo
  .logo-header {
    width: 220px !important;
    text-align: center;
    img {
      width: 50% !important;
    }
  }

// Page title

h1.page-title {
    display: none;
}

// Home Mobile Navigation

.home-nav {
  .col {
    text-align: center;
  }
  a {
    color:#a1a1a1;
    text-decoration: none;
    font-family: $primary-font;
    span {
        margin-top: 5px;
        margin-bottom: 25px;
        display: block;
      }
    }
  .nav-ico {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-image: url('../img/home-nav-sprite.png');
    text-indent: -9999px;
    background-size: cover;
  }
  .ico1 {}
  .ico2 { background-position: -50px; }
  .ico3 { background-position: -100px; }
  .ico4 { background-position: -150px;}
  .ico5 { background-position: -200px;}
  .ico6 { background-position: -250px;}
}

// Slider

section.swiper-container {
  box-shadow: 0 0 3px 0px $color-lightgray;
  margin-bottom: 25px;
  .swiper-slide-content {
    display: none;
  }
}

// Footer Navigation

#footer-menu {

  ul.tabs {
    background-color: transparent !important;
    padding: 0;
    border-top: 1px solid rgba(161, 161, 161, 0.25)!important;
    li {
      width: 34%;
      padding-top: 5px !important;
      margin: 0 !important;
      border-top: 1px solid rgba(255, 255, 255, 0.5) !important;;
      a{
        i.icon { color: rgba(255, 255, 255, 0.75) !important; }
      }
    }
    .menu-item-46 {
      background: $primary-color !important;
    }
    .menu-item-47 {
      background: #acbc69 !important;
    }
    .menu-item-50 {
      background: #c5d776 !important;
    }
  }

}

// Modal Search

.modal-fototipos {
      background-color: $primary-color !important;
  .toolbar {
    background-color: $primary-color !important;
    h3 {
      color: white;
      text-align: center;
      padding-top: 13px;
    }
    .io-modal-close {
    font-size: 1.5rem !important;
}
  }
  .modal-content {
    ul {
      li.fototype-li {
        width: 100%;
        height: 100px;
        padding-left: 15px;
        i.fototype-graph {
          background-image: url('https://www.appderma.com/wp-content/uploads/2017/02/home-app-fototipos.jpg');
          width: 100px;
          height: 100px;
          position: absolute;
          right: 0;
          z-index: 999;
          background-size: cover;
        }
        .fototype-skin-two {
          background-position: 500px;
        }
        .fototype-skin-three {
          background-position: 400px;
        }
        .fototype-skin-four {
          background-position: 300px;
        }
        .fototype-skin-five {
          background-position: 200px;
        }
        .fototype-skin-six {
          background-position: 100px;
        }
      }
      .fototype-one { background-color: #ffeeda; color: #040005; }
      .fototype-two { background-color: #ffdfca; color: #945d3f; }
      .fototype-three { background-color: #fdcca3; color: #c99339;}
      .fototype-four { background-color: #e0ad6b; color: #fad6b4; }
      .fototype-five { background-color: #8c563a; color: #f3caac; }
      .fototype-six { background-color: #280906; color: #f3d8bb; }
    }
  }

}

// Menu Left

.menu-left {
  ul {
    min-height: inherit;
  }
  .bar-header {
     background-color: transparent;
     border-bottom: none !important;
     background-image: none;
     .brand-logo {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      padding-left: 20%;
      img {
        width: 80%;
      }
    }
  }
  .scroll-content {
    top: 150px !important;
  }
  .cart-items {
    display: none;
  }
}

// Store Brands

.button-store-brands {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button-brand-single {
    background-color: #8c9954;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    line-height: 2.6em;

    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
    }
}

.jp-relatedposts {
    display: none !important;
}

// Contact

.contact-info {
  padding: 0 15px;
  p { text-align: left !important;
    a {
      color: $primary-color;
    }
    i.icon {
      color: $primary-color;
    }
  }
}

// Others

.entry-content {
  .store-hero-img {
    border: 1px solid $color-lightgray;
    height: 270px;
    margin-bottom: 25px;
    box-shadow: 0 0 3px 0px $color-lightgray;
    }
  p {
    a {
      color: $primary-color;
    }
  }
  ol {
    li {
      color: $color-darkgray;
      margin-bottom: 15px;
    }
  }
}
p.wc-points-rewards-product-prize {
    border: 1px solid $primary-color;
}

// Form Error Label

label.error {
    font-weight: 600;
    display: block;
    text-align: center;
    color: red;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}
