// Step One

article {
  .entry-content {
    h3 {
      color: $primary-color !important;
      text-align: center;
    }
    p {
      color: $color-darkgray;
      text-align: center;
    }
    img.step-one-active {
        max-width: 60% !important;
        margin: 0 auto;
    }
    .col {
      text-align: center;
      a.button-default {
        background-color: $primary-color;
        box-shadow: 0 0 3px 0px $color-lightgray;
        color: white;
        letter-spacing: 1px;
        width: 100%;
      }
    }
  }
}

// Gravity Form
.gform_wrapper {
  ul.gform_fields {
    li{
      label {
        display: none !important;
      }
      textarea {
        background-color: rgba(221, 221, 221, 0.20);
        margin-top: 30px;
      }
      input {
        border-bottom: 1px solid $color-darkgray;
      }
      .ginput_complex {
        span {
          input {
            border-bottom: 1px solid $color-darkgray;
          }
          label {
            display: none !important;
          }
        }
      }
    }
  }
}
