 // Input


select.js-wpv-filter-trigger {
  background-color: $primary-color !important;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 $color-lightgray;
  color: white;
  -webkit-appearance: none;
  text-align-last: center;
  width:100%;
  margin-top: 20px;
  padding: 15px 15px;
  }


.step-two-logic p {
margin-top: 10px;
}

a.io-modal-open {
    font-size: 0.9em !important;
    padding: 10px !important;
    display: block;
}


 button.button-default {
   background-color: $primary-color;
   color: white;
   font-weight: 400;
   margin-top: 25px;
   box-shadow: 0 0 3px 0px $color-lightgray;
   letter-spacing: normal;
   padding: 0 1rem;
   width: 100%;
 }

 .step-one-logic {

    color: $color-darkgray;
}

 ul.categorychecklist {
     margin: 0;
     padding: 0;
     list-style: none;
     li {
      width: 50%;
      float: left;
      padding: 0;
      margin: 0;
      text-align: left;
     }
 }

 // Output

 ul.js-wpv-loop {
   margin: 0;
   padding: 0;
   list-style: none;
   li {
     text-align: center;
     width: 45%;
     float: left;
     margin-left: 3.575%;
     min-height: 280px;
     img {
       box-shadow: 0 0 3px 0px $color-lightgray;
       border: solid 1px rgba(161, 161, 161, 0.32);
       border-bottom: solid 10px $primary-color;
     }
     a {
       text-decoration: none;
       color: $primary-color;
       font-size: 16px;
     }
     p {
       color: $color-darkgray;
    }

   }
 }
