// My Woocommerce Storefront Styles

body.woocommerce {
  main.site-main {
    text-align: center;
  }
  nav.woocommerce-breadcrumb {
    border: 0;
    margin: 0;
    padding: 0;
    height: 10px;
}
  h1.page-title {
    color: $primary-color;
    font-size: 2em;
  }
  p.woocommerce-result-count {
    display: none;
  }
  .page-description {
    padding-top: 25px;
    text-align: center;
    h1 {
      color: $primary-color !important;
      padding-bottom: 0;
    }
  }
  .woocommerce-ordering{
    select {
      position: inherit;
      background: transparent;
      color: $color-darkgray;
      padding-bottom: 5px;
      border-bottom: solid 1px $color-lightgray;
    }
  }
  ul.products {
    li.product {
      border: 0 !important;

      a {
        text-align: center;

        img {
          box-shadow: 0 0 3px 0px $color-lightgray;
          border: solid 1px rgba(161, 161, 161, 0.32);
          border-bottom: solid 10px $primary-color;
        }
      }
      a.btn {
        background-color: $primary-color;
        color: white;
        font-weight: 400;
        margin-top: 0;
        box-shadow: 0 0 3px 0px $color-lightgray;
        letter-spacing: normal;
        padding: 0 1rem;
      }
      .product-meta-wrap {
        text-align: center !important;
        background: transparent !important;
        padding-left: 0;
        padding-right: 0;
        h3 {
          font-size: 1rem !important;
        }
      }
    }
  }
}
// Woocommerce Cart Icon
a.cart-contents {
    text-align: right;
    padding-right: 0;
    margin-top: 5px;
}
.cart-contents:before {
    font-family:Ionicons;
    content: "\f370";
    font-size:20px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:0;
    vertical-align: bottom;
    color: $color-darkgray;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

// Brands Store

img.the-brands {
  border: 1px solid $color-lightgray;
  padding: 10px;
  background-color: $primary-color;
  border-radius: 4px;
  box-shadow: 0 0 3px 0px $color-lightgray;
  width: 100% !important;
}

// Woocommerce Products By Brand

.woocommerce {
  header.title {
    h3{
      color: white !important;
      background-color: $primary-color;
      text-align: center;
      font-size: 1.5em;
      padding:10px 0;
    }
  }
  header.woocommerce-Address-title h3 {
    width: 100%;
}
h2 {
    color: white !important;
    background-color: $primary-color;
    text-align: center;
    font-size: 1.5em;
    padding:10px 0;
}
  ul.products {
    margin: 0;
    padding: 0;
    li.product {
      text-align: center;
      width: 45%;
      float: left;
      margin-left: 3.575%;
      min-height: 280px;
      img {
        box-shadow: 0 0 3px 0px $color-lightgray;
        border: solid 1px rgba(161, 161, 161, 0.32);
        border-bottom: solid 10px $primary-color;
      }
      a {
        text-decoration: none;
        color: $primary-color;
        font-size: 16px;
      }
    }
  }
  ul.order_details {
    border: 1px solid #e1e1e1;
    background: #fff;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    li {
      padding: 10px;
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e1e1e1;
      padding: 10px;
      strong {
        display: inherit;
      }
    }
  }
  table.shop_table{
    td.order-actions{
      padding: 0;
      a {
        background-color: $primary-color;
        color: white;
        margin: 0 !important;
        border-radius: 0;
      }
    }
  a {
    color: $primary-color;
    text-decoration: none;
  }
  td.points-rewards-event-points {
    width: 100%;
  }
}
  address {
    border: 1px solid #e1e1e1;
    background: #fff;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    font-weight: 400 !important;
    padding: 10px;
 }
}


// Woocommerce My Account

nav.woocommerce-MyAccount-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      text-align: center;
      background: $primary-color;
      box-shadow: 0 0 3px 0px $color-lightgray;
      border: 1px solid $color-lightgray;
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 10px 0;
      a {
        display: block;
        text-decoration: none;
        color: white;
      }
    }
  }
}

// Woocommerce Edit Account

form.woocommerce-EditAccountForm {
  p label {
    text-align: left;
  }
  fieldset {
    margin-top: 25px;
    legend {
      text-align: center;
    }
  }
  input.woocommerce-Button {
    margin-top: 10px;
  }
}

// Woocommerce Facturacion Form

.woocommerce-MyAccount-content {
  h2 {
    text-align: center;
    background-color: $primary-color;
    color: white;
  }
  table.my_account_points_rewards {


  }
  p {
    strong {
      color: white;
      background-color: $primary-color;
      padding: 5px 10px;
    }
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
  form {
    p {
      label {
        text-align: left;
      }
    }
  }
  .woocommerce-info {
    border-top: 3px solid $primary-color;
     .button {
    background-color: $primary-color;
    color: white;
    }
    &:before {
        background-color: $primary-color;
      }
  }
}
.woocommerce-message {
  border-top: 3px solid $primary-color;
   .button {
  background-color: $primary-color;
  color: white;
  }
  &:before {
      background-color: $primary-color;
    }
}

// Body Manipulation

body.woocommerce-edit-address {
  .woocommerce {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .woocommerce-MyAccount-navigation {
      -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: 100%;
    margin-top: 25px;
    }
    .woocommerce-MyAccount-content {
    -webkit-box-ordinal-group: 1;
   -moz-box-ordinal-group: 1;
   -ms-flex-order: 1;
   -webkit-order: 1;
   order: 1;
   }
  }
}

// Woocommerce Single Product


.product {
  .images {
   border-bottom: none;
   padding: 10px;
   .swiper-slide {
     background-color: $primary-color !important;
   }
  }
  .single-product-info {
    .summary {
      .price {
        font-size: 1.2rem;
      }
    }
    .entry-summary {
      text-align: center;
      h1.product_title {
        font-size: 1.2em;
        margin: 0;
        margin-bottom: 10px
      }
      .woocommerce-product-rating {
        .star-rating {
          margin: 0 auto;
          float: none !important;
        }
        a.woocommerce-review-link {
          display: none;
        }
      }
      .quantity {
        input.qty {
          background-color: white !important;
          color: black !important;
          border: 1px solid $color-lightgray;
        }
      }
      button.single_add_to_cart_button {
        float: right !important;
      }
      .product_meta {
        margin-bottom: 1.5em;
        padding: 1em;
        border: 1px solid grey;
        span.posted_in {
          a {
            color: $primary-color;
            text-decoration: none;
          }
        }
        span.tagged_as {
          a {
          color: $primary-color;
          text-decoration: none;
          }
        }
      }
    }
    .woocommerce-tabs {
      ul.tabs {
        padding: 0;
        margin: 0;
        margin-bottom: 1.5em;
        li {
          border: none;
          border-radius: 0;
          font-weight: 400;
        }
        li.active {
          background-color: $primary-color;
          color: white;
        }
      }
      .panel {
        padding: 10px;
        h2 {
          font-size: 1.2em;
          font-weight: 700;
        }
        .woocommerce-Reviews {
          h2.woocommerce-Reviews-title {
            font-size: 1.2em !important;
          }
          .comment-respond {
            h3 {
              font-size: 1.2em !important;
              text-align: center;
            }
            .comment-form {
              p {
                text-align: center;
                label {
                  font-size: 1.2em;
                }
                p.stars {
                font-size: 2em;
                padding-top: 10px;
                }
              }
            }
          }
        }
      }
    }
    .related {
      h2 {
        font-size: 1.2em;
        text-align: center;
        margin-bottom: 25px;
        background-color: $primary-color;
        color: white !important;
        padding: 10px;
      }
    }
  }
}

// No Shadows on Tabs
.woocommerce-tabs ul.tabs:before, .woocommerce-tabs ul.tabs:after {
  box-shadow: none;
  border: none;
}

.woocommerce-tabs ul.tabs li.active:after, .woocommerce-tabs ul.tabs li:after {
  box-shadow: none;
}

.woocommerce-tabs ul.tabs li:before, .woocommerce-tabs ul.tabs li:after {
    border: none;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    content: " ";
}

// Store Frontend

.woocommerce {
    .product-meta-wrap {
      background: transparent !important;
      h3 {
        font-size: 1rem !important;
        color: black !important;
      }
      span.price {
        color: $primary-color;
      }
    }
  form.woocommerce-checkout input {
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: inherit;
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0;
    border-bottom: 1px solid;
  }
}

.woocommerce-checkout-review-order {
  .place-order {
    padding: 0 !important;
      input#place_order {
      width: 100%;
      border-radius: 0 !important;
      }
  }
  li.payment_method_cod {
    label {
      font-size: 1.5em;
    }
  }
  .payment_box {
      p {
        img {
      padding: 5px;
      margin: 0 !important;
      }
    }
  }
}

// Orphan Styles

.wc_points_rewards_earn_points strong {
    color: gold;
    text-shadow: 0px 0px 1px #d1ea44;
}
