// My Woocommerce Storefront Styles

body.woocommerce {
  main.site-main {
    text-align: center;
  }
  nav.woocommerce-breadcrumb {
    border: 0;
    margin: 0;
    padding: 0;
    height: 10px;
}
  h1.page-title {
    color: $primary-color;
    font-size: 2em;
  }
  p.woocommerce-result-count {
    display: none;
  }
  .page-description {
    padding-top: 25px;
    text-align: center;
    h1 {
      color: $primary-color !important;
      padding-bottom: 0;
    }
  }
  .woocommerce-ordering{
    select {
      position: inherit;
      background: transparent;
      color: $color-darkgray;
      padding-bottom: 5px;
      border-bottom: solid 1px $color-lightgray;
    }
  }
  ul.products {
    li.product {
      border: 0 !important;

      a {
        text-align: center;

        img {
          box-shadow: 0 0 3px 0px $color-lightgray;
          border: solid 1px rgba(161, 161, 161, 0.32);
          border-bottom: solid 10px $primary-color;
        }
      }
      a.btn {
        background-color: $primary-color;
        color: white;
        font-weight: 400;
        margin-top: 0;
        box-shadow: 0 0 3px 0px $color-lightgray;
        letter-spacing: normal;
        padding: 0 1rem;
      }
      .product-meta-wrap {
        text-align: center !important;
        background: transparent !important;
        h3 {
          font-size: 1rem !important;
        }
      }
    }
  }
}
// Woocommerce Cart Icon
a.cart-contents {
    text-align: right;
    padding-right: 0;
    margin-top: 5px;
}
.cart-contents:before {
    font-family:Ionicons;
    content: "\f370";
    font-size:20px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:0;
    vertical-align: bottom;
    color: $color-darkgray;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

// Brands Store

img.the-brands {
  border: 1px solid $color-lightgray;
  padding: 10px;
  background-color: $primary-color;
  border-radius: 4px;
  box-shadow: 0 0 3px 0px $color-lightgray;
  width: 100% !important;
}
