/*
Error: Undefined variable: "$primary-color".
        on line 11 of ../assets/css/sass/partials/types.scss

6:       height: 35px;
7:       border: none;
8:       border-bottom: solid 1px;
9:   }
10:  button.button-default {
11:    background-color: $primary-color;
12:    color: white;
13:    font-weight: 400;
14:    margin-top: 0;
15:    box-shadow: 0 0 3px 0px $color-lightgray;
16:    letter-spacing: normal;

Backtrace:
../assets/css/sass/partials/types.scss:11
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/variable.rb:49:in `_perform'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/script/tree/node.rb:58:in `perform'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:115:in `with_frame'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:433:in `visit_rule'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:433:in `map'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:433:in `visit_rule'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:115:in `with_frame'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/stack.rb:79:in `with_base'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:169:in `visit_children'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:168:in `visit_children'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:188:in `visit_root'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:159:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/tree/root_node.rb:20:in `render'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/engine.rb:281:in `render'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:400:in `run'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:52:in `parse'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/../lib/sass/exec/base.rb:19:in `parse!'
c:/ruby187/lib/ruby/gems/1.8/gems/sass-3.4.22/bin/sass:13
c:/ruby187/bin/sass:22:in `load'
c:/ruby187/bin/sass:22
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$primary-color\".\A         on line 11 of ../assets/css/sass/partials/types.scss\A \A 6:       height: 35px;\A 7:       border: none;\A 8:       border-bottom: solid 1px;\A 9:   }\A 10:  button.button-default {\A 11:    background-color: $primary-color;\A 12:    color: white;\A 13:    font-weight: 400;\A 14:    margin-top: 0;\A 15:    box-shadow: 0 0 3px 0px $color-lightgray;\A 16:    letter-spacing: normal;"; }
